<div class="container-fluid">

<h1>All Products Page</h1>
<h5><%= link_to "Add New Product", "/products/new" %>

<br>

  

    <% @products.each do |product| %>
      <div class="row">
        <div class="col-sm-4">
          <div id="name_and_price">
            <h3><%= product.product_name %></h3>
            <h4><%= number_to_currency(product.price, precision: 0) %></h4>
            <h5><a href="/products/<%=product.id%>">Details</a></h5>
            <h5> <%= link_to "Details by link_to", "/products/#{product.id}" %> </h5>
            <h5> <%= link_to "Edit", "/products/#{product.id}/edit" %> </h5>
          </div>
        </div>

        <div class="col-sm-4">
          <%= image_tag product.images.first.image_url, width: 372 %>
        </div>

        <div class="col-sm-4">
          <div id="description">
            <h4><%= product.description %></h4>
          </div>
        </div>
        </div>
    <% end %>

</div>