<h1>Add A New Product</h1>

<%= form_tag '/products', method: :post do %>
  <div>
    <%= label_tag :product_name %>
    <%= text_field_tag :product_name %>
  </div>
  <div>
    <%= label_tag :price %>
    <%= text_field_tag :price %>
  </div>
    <div>
    <%= label_tag :image %>
    <%= text_field_tag :image %>
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description %>
  </div>
  <div>
    <%= label_tag :key_points %>
    <%= text_field_tag :key_points %>
  </div>
  <%= submit_tag "Add Product" %>

<% end %>